<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AddGestorWsSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="AddGestorWsSoap1" />
                <binding name="AddGestorWsSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="AddGestorWsSoap3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44344/Services/AddGestorWs.asmx"
                binding="basicHttpBinding" bindingConfiguration="AddGestorWsSoap"
                contract="ServiceReferenceAddGestorWs.AddGestorWsSoap" name="AddGestorWsSoap" />
            <endpoint address="https://localhost:44344/Services/AddGestorWs.asmx"
                binding="basicHttpBinding" bindingConfiguration="AddGestorWsSoap2"
                contract="ServiceReferenceAddGestorWsAsync.AddGestorWsSoap"
                name="AddGestorWsSoap1" />
        </client>
    </system.serviceModel>
</configuration>